<div class="main-content">

  <div class="center-div">
    <div class="row">
      <div class="col-md-6">
        <h2>Thêm mới nhân viên</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <!-- Thêm mới name-->
          <div class="form-group">
            <label>Tên</label>
            <input type="text" placeholder="Nhập tên" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Last Name is required</div>
            </div>
          </div>

          <!-- Thêm mới Ngày sinh-->
          <div class="form-group">
            <label>Ngày sinh</label>
            <input type="date" placeholder="Nhập ngày sinh" formControlName="birth" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.birth.errors }" />
            <div *ngIf="submitted && f.birth.errors" class="invalid-feedback">
              <div *ngIf="f.birth.errors.required">Ngày sinh trống</div>
            </div>
          </div>

          <!-- Thêm mới code-->
          <div class="form-group">
            <label>CODE</label>
            <input type="text" placeholder="Nhập CODE" formControlName="code" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
              <div *ngIf="f.code.errors.required">Code trống</div>
              <div *ngIf="f.code.errors.specialString">Code trong chứa kí tự đặc biệt</div>
            </div>
          </div>

          <!-- Nhập email -->
          <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="Nhập email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email trống</div>
              <div *ngIf="f.email.errors.email">Email không đúng</div>
            </div>
          </div>

          <!-- Thêm mới address-->
          <div class="form-group">
            <label>Địa chỉ</label>
            <input type="text" placeholder="Nhập địa chỉ" formControlName="address" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Địa chỉ trống</div>
            </div>
          </div>

          <!-- Thêm mới Link image-->
          <div class="form-group">
            <label>Địa chỉ</label>
            <input type="text" placeholder="Nhập địa chỉ hình ảnh" formControlName="image" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
            <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
              <div *ngIf="f.image.errors.required">Địa chỉ hình ảnh trống</div>
            </div>
          </div>

          <div class="td-actions text-right">
            <button [disabled]="loading" type="submit" class="btn btn-success">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Thêm mới</button>
            <button class="btn btn-warning" (click)="cancel()">Hủy</button>
          </div>
        </form>
        
      </div>

      <div class="col-md-6" style="display: flex; justify-content: center; align-items: center;">
        <div class="card card-profile" style="border: none;">
          <div class="card-avatar" style="width: 150px; height: 150px;">
            <a href="#pablo">
              <img class="img-custom" [src]="img"
                onError="this.onerror=null;this.src='https://www.minervastrategies.com/wp-content/uploads/2016/03/default-avatar.jpg'" />
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
