<div style="width: 100%; padding: 30px;">
  <div>
    <h2 style="margin:10px 0;">DANH SÁCH NHÂN VIÊN BÁN HÀNG</h2>
    <button matTooltip="Chi tiết" type="button" class="btn btn-success add-new" (click)="addEmployee()">Thêm
      mới</button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>STT</th>
          <th>Name</th>
          <th>Code</th>
          <th>Address</th>
          <th>Birth</th>
          <th>Email</th>
          <th style="text-align: right;">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; let i = index">
          <td>{{i+1}}</td>
          <td>{{employee?.name}}</td>
          <td>{{employee?.code}}</td>
          <td>{{employee?.address}}</td>
          <td>{{employee?.birth}}</td>
          <td>{{employee?.email}}</td>
          <td>
            <div class="td-actions text-right">
              <button matTooltip="Chi tiết" type="button" class="btn btn-success" (click)="gotoEditEmployee(false, employee)">
                <i class="material-icons">remove_red_eye</i>
              </button>
              <button matTooltip="Chỉnh sửa" type="button" class="btn btn-warning" (click)="gotoEditEmployee(true, employee)">
                <i class="material-icons">edit</i>
              </button>
              <button matTooltip="Xóa" type="button" class="btn btn-danger" (click)="preDeleteEmployee(employee)">
                <i class="material-icons">close</i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
